/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#222;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* MY CODE */

a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    width: 70%;
    margin: 0 auto;


}

header {
    width: 100%;
    height: 85px;
    background-color: black;
    position: fixed;
}

header img {

    margin-top: 20px;
    float: left;
}

header nav {
    float: right;

}


header nav ul {
    margin-top: 35px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

header nav ul li a{
    font-family: Baloo Bhaina, arial;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease-in-out ;
    -webkit-transition: all 500ms ease-in-out ;
    -moz-transition: all 500ms ease-in-out ;
    -o-transition: all 500ms ease-in-out ;
}

header nav ul li a:hover {
    color: #dc8a3a;
}

.video-box {
    width: 100%;
    height: 315px;
    background-color: #222;
    text-align: center;
}

.index-intro {
    width: 100%;
    background-color: #dc8a3a;
    padding: 20px 0px;
}
.index-intro h2 {
    font-family: Baloo Bhaina, arial;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}
.index-intro p {
    font-family: Roboto Condensed, arial;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.index-news {
    width: 100%;
    background-color: #FFFFFF;
    padding: 100px 0px 0px 0px;
    overflow: hidden;

}


.index-news article {
    width: 150px;
    height: 219px;
    background-color: #ccc;
    float: left;
    margin: 1% 1%;
}

.index-news  article p{
  padding-bottom: 10px;
}

/*.news-img {
    width: 100%;
    height: 135px;
    background-image: url(http://www.wholesalesweets.co.uk/media/catalog/product/cache/1/small_image/135x135/9df78eab33525d08d6e5fb8d27136e95/C/o/Copy_of_HSASB.jpg);
   /* transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
    transition: all 1000ms ease-in-out ;
    -webkit-transition: all 1000ms ease-in-out ;
    -moz-transition: all 1000ms ease-in-out ;
    -o-transition: all 1000ms ease-in-out ;
}*/
.news-img {
    width: 100%;
    height: 135px;
    background-color: #FFFFFF;
    /*background-image: url(http://www.wholesalesweets.co.uk/media/catalog/product/cache/1/small_image/135x135/9df78eab33525d08d6e5fb8d27136e95/C/o/Copy_of_HSASB.jpg);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;*/
    transition: all 1000ms ease-in-out ;
    -webkit-transition: all 1000ms ease-in-out ;
    -moz-transition: all 1000ms ease-in-out ;
    -o-transition: all 1000ms ease-in-out ;
}
.news-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*.index-news article:hover .news-img {
    background-color: #222;
}
*/


.index-news h3 {
    font-family: Baloo Bhaina, arial;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.index-news p {
    font-family: Roboto Condensed, arial;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.table-box {
    width: 100%;
    padding: 80px 0px;
    background-color: #dc8a3a;
}


.table-box table{
    width: 100%;
}

.table-box table th {
    text-align: left;
    font-family: Baloo Bhaina, arial;
    font-weight: 400;
    font-size: 22px;
}

.table-box table td{
    font-family: Roboto Condensed, arial;
    font-size: 18px;
    line-height: 22px;
}


.form-box {
    width: 100%;
    padding: 80px 0px 80px 0px;
    background-color: #FFFFFF;
}

.form-box form input {
    width: 40%;
    height: 30px;
    margin-bottom: 4px;
    padding: 0px 6px;
    font-family: Roboto Condensed, arial;
    font-size: 18px;
    background-color: #ccc;
    border: none;
 }

/* .form-radio {
    width: 1% !important;
    height: 10px !important;
    margin-bottom: 4px;
    padding: 0px 6px;
    float: left;
    clear: both;
    background-color: #dc8a3a;
    border: none;
 }*/

 .form-box form p {
    float: left;
    font-family: Roboto Condensed, arial;
    font-size: 18px;

 }

 .form-box form textarea {
    clear: both;
    width: 60%;
    height: 200px;
    margin-bottom: 4px;
    padding: 6px 6px;
    font-family: Roboto Condensed, arial;
    font-size: 18px;
    resize: none;
    background-color: #ccc;
    border: none;
 }

 .form-box form button{
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border: none;
    font-family: Roboto Condensed, arial;
    font-size: 18px;
    text-transform: uppercase;
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #000;
    padding: 60px 0px;

}

footer nav {
    float: left;
}

footer nav ul {

}

footer nav ul li {
    display: inline-block;
    list-style: none;
}

footer nav ul li a {
    font-family: Baloo Bhaina, arial;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease-in-out ;
    -webkit-transition: all 500ms ease-in-out ;
    -moz-transition: all 500ms ease-in-out ;
    -o-transition: all 500ms ease-in-out ;
}

footer nav ul li a:hover {
    color: #dc8a3a;
}

footer p {
  color: #fff;
  font-family: Baloo Bhaina, arial;
  float: right;
  font-size: 12px;
}


#h1-contact {
  padding-top: 120px;
  font-family: Roboto Condensed, arial;
  font-size: 70px;
}

.card {
    /* Add shadows to create the "card" effect */
    height: 219px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.about-content {
  padding: 100px 0 10px 0;
}

.about-content h1 {
  font-family: Roboto Condensed, arial;
  font-size: 50px;
}

.about-content p {
  font-family: Roboto Condensed, arial;
  padding-top: 10px;
}
/*GALLERY*/

.gallery-box {
    overflow: hidden;
    background-color: #222;
    padding: 80px 0px;
}

.img-single {
    width: 270px;
    height: 156px;
    float: left;
    margin: 5px 5px;
    position: relative;
}
.img-single img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}

.img-single:hover {
    z-index: 1000;
}

.img-single img:hover {
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
}


/*EMAIL*/

.index-intro #email-p {
    font-family: Roboto Condensed, arial;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#email-form {
    text-align: center;
}

/*#email-form form input and button and textarea{
    /*object-position: center;
}

#email-form form {
    display: inline-block;
    text-align: center;
}

/*SMARTPHONE AND TABLET*/

@media only screen and (max-width: 768px) and (orientation: portrait) {

    .index-intro h2 {
    font-weight: 700;
    font-size: 50px;
    }
    .index-intro p {
        font-size: 26px;
    }

}


@media only screen and (max-width: 768px) and (orientation: landscape) {

    .index-intro h2 {
    font-weight: 700;
    font-size: 50px;
    color: red;

    }
    .index-intro p {
        font-size: 26px;
    }

}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .
}
